* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f8fafc;
  color: #1f2937;
}

/* HERO */
.hero {
  height: 95vh;
  background: url("images/hero.jpg") center/cover no-repeat;
  position: relative;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.overlay h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.overlay p {
  font-size: 1.2rem;
}

/* BUTTONS */
.cta-buttons {
  margin-top: 25px;
}

.btn {
  padding: 12px 25px;
  margin: 8px;
  text-decoration: none;
  color: white;
  font-weight: 600;
  border-radius: 30px;
  transition: 0.3s;
}

.call {
  background: #2563eb;
}

.whatsapp {
  background: #16a34a;
}

.btn:hover {
  opacity: 0.85;
}

/* SECTIONS */
.section {
  padding: 70px 20px;
  text-align: center;
}

.section h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.light {
  background: #ffffff;
}

/* ===== RENTAL CARDS ===== */

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  max-width: 1100px;
  margin: auto;
}

.card {
  background: white;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  overflow: hidden;
  transition: transform 0.3s ease;
  text-align: center;
  padding-bottom: 20px;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  width: 100%;
  height: 350px;          /* controls visible size */
  object-fit: contain;    /* shows full image */
  background: #f8fafc;    /* fills empty space */
  display: block;
  transition: transform 0.6s ease;
}



/* FEATURES */
.features {
  list-style: none;
  max-width: 500px;
  margin: auto;
}

.features li {
  margin: 12px 0;
  font-size: 1.1rem;
}

/* GALLERY */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

.gallery img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 15px;
  transition: transform 0.3s;
}

.gallery img:hover {
  transform: scale(1.05);
}

/* FOOTER */
footer {
  background: #0f172a;
  color: white;
  padding: 30px;
  text-align: center;
}
